html{
  width:100%;
  min-width: 320px;
  box-sizing:border-box;
}
html, body{
  overflow-x: hidden; 
}
*{
  box-sizing:border-box;
  margin:0px;
  padding:0px;
  font-family: 'Gudea', sans-serif;
}
h1, h2, h3{
  font-family: 'Cantata One', serif;
}
button:hover{
  cursor: pointer;
}
button:focus{
  border:2px solid greenyellow;
}
