.info-container{
    background:linear-gradient(rgb(27, 27, 27), rgb(53, 53, 53));
    min-height:500px;
}
.info-text{
    color:white;
    
}
.signup-form-div{
    text-align:center;
    position: fixed;
    bottom:0px;
    left: calc(50%-300px);
    width: 100%;
    background:#4D4847;
    height: auto;
    color:#929982;
    font-size: 25px;
    transition: max-height .5s ease-out;
    overflow:hidden;
    max-height:160px;
}
.signup-form-div.collapsed{
    max-height:0px;
}
.collapse-signup{
    position:absolute;
    right:5px;
    bottom:5px;

}
