.header-container{
    background: linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.65)), url('../../images/welding.jpg');
    background-size: cover;
    background-position: center;
    width:100%;
    margin:0;
    text-align:center;
}
.heading-text{
    color: #FFA400;
    font-size:80px;
    font-weight:900;
    padding-top:200px;
}

.login-button, .hide-button{
    position: absolute;
    top:5px;
    right:5px;
    height:30px;
    width:60px;
    background:none;
    color: #FFA400;
    border:#FFA400 2px solid;
    font-weight:bold;
    border-radius:2px;
}
.login-button:hover, .hide-button:hover .login-submit-button{
    background:#4D4847;
}
.login-submit-button{
    margin:0 calc(50% - 32.5px);
    height:28px;
    width:75px;
    background:none;
    color: #FFA400;
    border:#FFA400 2px solid;
    font-weight:bold;
    border-radius:2px;
}
.login-form-div{
    text-align:center;
    position: fixed;
    top:0;
    left:0;
    width: 100%;

    background:#070707;
    height: auto;
    color:#929982;
    font-size: 25px;
    transition: max-height .5s ease-out;
    overflow:hidden;
    max-height:160px;
    display:block;
}
.login-form-div.collapsed{
    max-height:0px;
}

.login-form-div .input{
    background-color: #FFFFFF;
    border:none;
    width:125px;
    height:22px;
    margin-left:10px;
}

.username, .password{
    margin:3px 0px;
}
.login-form-div label{
    margin: 5px 5px 3px 10px;
    display:inline-block;

}
.feedback{
    color:red;
}

@media only screen and (max-width: 660px) {
    .login-form-div{
        text-align:left;
    }
    .login-form-div label{
        display:block;
        margin-left:20px;
    }
    .heading-text{
        font-size:65px;
    }
  }