.nav-bar-container{
    background: #4D4847;
    height:auto;
    width:100%;
    text-align:left;
}
.nav-bar-container button{
    display:inline-block;
    background: none;
    border: 2px solid #FFA400;
    border-radius: 2px;
    height:40px;
    width:80px;
    color:white;
    margin: 7px 10px;
    vertical-align: middle;

}
.nav-bar-container button:hover{
    background: #929982;
}

.nav-bar-container h1{
    color: white;
    display:inline-block;
    vertical-align: middle;
}

.iron-icon{
    display:inline-block;
    vertical-align: middle;
    background: url('../../images/ironOrange.png');
    height:50px;
    width:50px;
    background-repeat: no-repeat;
    background-size: contain;
    margin:2px 5px;
    margin-bottom:8px;
}
.button-container{
    float: right;
    margin:5px 5px;
}
@media only screen and (max-width: 826px) {
    .button-container{
        display:inline-block;
        margin:2px auto;
        float:none;
    }
    .nav-bar-container{
        text-align: center;
    }
    .nav-bar-container h1{
        margin:2px auto;
    }
}
@media only screen and (max-width: 399px) {

    .nav-bar-container h1{
        font-size:25px;
    }
}
@media only screen and (max-width: 370px) {
    .iron-icon{
        display:none;
    }
}